---
layout: default
title: Home
---

<ul>
  <li>
    <a href="{{ site.url }}{% post_url 2023-02-03-introduction %}">前言</a>
  </li>
  <li>学习
    <ul>
      <li>
        <a href="{{ site.url }}{% post_url 2023-03-22-units-in-bristol %}">选课</a>
      </li>
    </ul>
  </li>
  <li>活动
    <ul>
      <li>
        <a href="{{ site.url }}{% post_url 2023-02-03-activities %}">活动</a>
      </li>
    </ul>
  </li>
  <li>找工
    <ul>
      <li>
        <a href="{{ site.url }}{% post_url 2023-03-25-why-leetcode %}">到底为什么要考leetcode</a>
      </li>
      <li>
        <a href="{{ site.url }}{% post_url 2023-03-12-behavioral-questions %}">Behavioral Quesion</a>
      </li>
      <li>
        <a href="{{ site.url }}{% post_url 2023-03-12-interview-process %}">面试流程</a>
      </li>
      <li>
        <a href="{{ site.url }}{% post_url 2023-03-12-leetcode %}">刷题</a>
      </li>
      <li>
        <a href="{{ site.url }}{% post_url 2023-03-14-online-assessment %}">OA</a>
      </li>
      <li>
        <a href="{{ site.url }}{% post_url 2023-03-14-technical-interview %}">Technical Interview</a>
      </li>
      <li>
        <a href="{{ site.url }}{% post_url 2023-03-22-mock-interview %}">Mock Interview</a>
      </li>
      <li>
        <a href="{{ site.url }}{% post_url 2023-03-22-networking %}">Networking</a>
      </li>
    </ul>
  </li>
</ul>


<!-- <ul>
  {% for post in site.posts %}
    <li>
      <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
    </li>
  {% endfor %}
</ul> -->

<!-- <div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div> -->

<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div> -->
